@page "/Profile/{Username}"
@using Models
@using Client.Data
@using System.IO
@using System.Net
@using Client.Authentication
@inject IUserService _userService
@inject IGameService _gameService
@inject NavigationManager _navigationManager
@inject AuthenticationStateProvider _authenticationStateProvider

@if (user != null)
{
    <div id="smart-button-container">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 mt-5 pt-5" id="color">
                    <div class="row shadow p-3">
                        <div class="col-lg-4  bg-info rounded-left">
                            <div class="text-center">
                                <div class="card" style="width: 19rem;">
                                    <img src="Images/Users/userphoto.png" class="card-img-top rounded-circle" alt="Profile photo" title="Your profile picture">
                                    <h3 class="card-title text-center">Profile info: @user.Username</h3>
                                    @if (gamesOwned != null)
                                    {
                                        <ul class="list-group text-center list-group-flush">
                                            <li class="list-group-item">
                                                <h3 class="font-weight-bold">
                                                    Games owned: @gamesOwned.GamesStack.Count
                                                </h3>
                                            </li>
                                        </ul>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8 bg-light">
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <h4 class="text-danger">@infoOneMessage</h4>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="text-danger">@infoSecondMessage</h4>
                                </div>
                            </div>
                            <h3 class="mt-3 text-center">Profile informations</h3>
                            <hr class="badge-primary mt-0 w-25">
                            <div class="row text-center">
                                <div class="col-sm-6">
                                    <h3 class="font-weight-bold">First name: @user.FirstName</h3>
                                </div>
                                <div class="col-sm-6">
                                    <h3 class="font-weight-bold">Last name: @user.LastName</h3>
                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <p class="btn btn-warning btn-sm">@user.Role</p>
                                </div>
                            </div>
                            @if(changePasswordButton && changeInformationsButton)
                            {
                                <h3 class="mt-3 text-center">Change information</h3>
                                <hr class="badge-primary mt-0 w-25">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-3">
                                            <label>Password</label>
                                            <input type="password" class="form-control" placeholder="input password" aria-label="" aria-describedby="basic-addon1" @bind-value="@user.Password">
                                        </div>
                                    </div>
                                </div>
                                <hr class="badge-primary">
                                <div class="text-center">
                                    <div class="form-group">
                                        <label>Firstname</label>
                                        <input type="text" class="form-control" placeholder="eg: Ionut" @bind-value="@user.FirstName">
                                    </div>
                                    <div class="form-group">
                                        <label>Lastname</label>
                                        <input type="text" class="form-control" placeholder="eg: Baicoianu" @bind-value="@user.LastName">
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-6">
                                        <label>Change password</label>
                                        <a class="btn btn-lg" @onclick="ChangePassword">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>Change other informations</label>
                                        <a class="btn btn-lg" @onclick="ChangeOtherInformation">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                            }
                            else if (changePasswordButton && changeInformationsButton == false)
                            {
                                <h3 class="mt-3 text-center">Change information</h3>
                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <label>Change other informations</label>
                                        <a class="btn btn-lg" @onclick="ButtonInformationButton">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                                <hr class="badge-primary mt-0 w-25">
                                <div class="row text-center">
                                    <div class="col-sm-12">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-outline-secondary" type="button">Change</button>
                                            </div>
                                            <input type="password" class="form-control" placeholder="input password" aria-label="" aria-describedby="basic-addon1" @bind-value="@user.Password">
                                        </div>
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-6">
                                        <label>Change password</label>
                                        <a class="btn btn-lg" @onclick="ChangePassword">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                            }
                            else if (changeInformationsButton && changePasswordButton == false)
                            {
                                <h3 class="mt-3 text-center">Change information</h3>
                                <hr class="badge-primary mt-0 w-25">
                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <label>Change password</label>
                                        <a class="btn btn-lg" @onclick="ButtonPassword">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <div class="form-group">
                                        <label>Firstname</label>
                                        <input type="text" class="form-control" placeholder="eg: Ionut" @bind-value="@user.FirstName">
                                    </div>
                                    <div class="form-group">
                                        <label>Lastname</label>
                                        <input type="text" class="form-control" placeholder="eg: Baicoianu" @bind-value="@user.LastName">
                                    </div>
                                </div>
                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <label>Change other informations</label>
                                        <a class="btn btn-lg" @onclick="ChangeOtherInformation">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                            }
                            else if (changeInformationsButton == false && changePasswordButton == false)
                            {
                                <h3 class="mt-3 text-center">Change information</h3>
                                <hr class="badge-primary mt-0 w-25">
                                <div class="row text-center">
                                    <div class="col-sm-3">
                                        <label>Change other informations</label>
                                        <a class="btn btn-lg" @onclick="ButtonInformationButton">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                    <div class="col-sm-3">
                                        <label>Change password</label>
                                        <a class="btn btn-lg" @onclick="ButtonPassword">
                                            <span>Change</span>
                                        </a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-info">
        <h3>@infoOneMessage</h3>
    </div>
}

@code {

    [Parameter]
    public string Username { get; set; }

    private string infoOneMessage;
    private string infoSecondMessage;
    private User user;
    private GameCluster gamesOwned;

    private Boolean changePasswordButton;
    private Boolean changeInformationsButton;

    protected override async Task OnParametersSetAsync()
    {
        infoOneMessage = "";
        try
        {
            user = await _userService.GetUser(Username);
            SaveImageIntoClient();
            gamesOwned = await _gameService.getLibraryAsync(Username);
            changePasswordButton = false;
            changeInformationsButton = false;
        }
        catch (Exception e)
        {
            infoOneMessage = "Informations are loading...";
            Console.WriteLine($"Profile Exception > {e.Message}");
        }
    }

    private async Task ChangePassword()
    {
        infoOneMessage = "";
        try
        {
            User verifyUser = await _userService.ChangePassword(user.Username, user.Password);
            if (verifyUser != null)
            {
                infoOneMessage = "Password changed!";
            }
            changePasswordButton = false;
            changeInformationsButton = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            infoSecondMessage = "Password: something went wrong..";
            Console.WriteLine($"Profile Exception > {e.Message}");
        }
    }
    
    private async Task ChangeOtherInformation()
    {
        infoSecondMessage = "";
        try
        {
            User verifyUser = await _userService.EditUser(user.Id, user.Username, user.Photo, user.FirstName, user.LastName);
            if (verifyUser != null)
            {
                infoSecondMessage = "Informations changed!";
            }
            changeInformationsButton = false;
            changePasswordButton = false;
            StateHasChanged();
        }
        catch (Exception e)
        {
            infoSecondMessage = "Informations: something went wrong..";
            Console.WriteLine($"Profile Exception > {e.Message}");
        }
    }

    private void ButtonInformationButton()
    {
        changeInformationsButton = true;
        StateHasChanged();
    }

    private void ButtonPassword()
    {
        changePasswordButton = true;
        StateHasChanged();
    }

    

    public void SaveImageIntoClient()
    {
        {
            using (WebClient webClient = new WebClient())
            {
                byte[] dataArr = webClient.DownloadData("https://pluspng.com/img-png/user-png-icon-thin-line-user-icon-2232.png");
                File.WriteAllBytes($@"wwwroot/Images/Users/userphoto.png", dataArr);
            }
        }
    }

}